<html>
    <head>
        <title>Todo</title>
    </head>
    <body>
        <h1>Create Todo Event</h1>

        <form action="/create-event/" method="post">

            <p>Title: </p>
            <input type="text" name="title" required/>

            <p>Description: </p>
            <textarea name="descp" rows="3" cols="50"></textarea>

            <p>Due Date</p>
            <input type="date" name="due-date" min="2022-03-24" />
            <p></p>
            <input type="submit" value="Create" />

        </form>

        <Button id="back-btn">Go Back</Button>

        <script type="text/javascript">
            document.getElementById("back-btn"). onclick = function () {
            window.location.href = "/";
            };
        </script>
        
    </body>
</html>