<html>
    <head>
        <title>Todo</title>
    </head>
    <body>
        <h1>Todo List: </h1>
        <table border="display"  style="width:400px;">
            <thead>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for event in todolist %}
                    <tr>
                        <td>{{event.title}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.status}}</td>
                        <td>{{event.due_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <Button id="back-btn">Go Back</Button>

        <script type="text/javascript">
            document.getElementById("back-btn"). onclick = function () {
            window.location.href = "/";
            };
        </script>
    </body>
</html>